*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    color: #414141;
    background-color: #FE8F82;
}

.grid {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.front {
    background: url('../img/box.png') no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card,
.back,
.front {
    height: 120px;
    width: 120px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: transparent !important;
}

.box-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blue {
    background-color: #1CB0F6;
    border-color: #1899D6;
    color: #FFFFFF;
}

.btn {
    padding: 8px 15px;
    border-width: 0 0 5px;
    border-radius: 15px;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    margin: 2rem 1rem 0 1rem;
}

.btn:hover {
    filter: brightness(1.1);
}

.btn:active {
    border-width: 0;
    margin-bottom: 4px;
    transform: translate3d(0, 4px, 0);
}

.sidebar {
    width: 300px;
    height: 300px;
    background-color: #F09A9D;
    border-radius: 15px;
    border: 4px rgb(243, 116, 120) solid;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2rem;
}

.sidebar-right {
    float: right;
}

.sidebar-left {
    float: left;
}