*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fe8f82;
}

@font-face {
    font-family: Digital;
    src: url("../fonts/digital-italic-font.ttf");
}

.topnav {
    overflow: hidden;
    background-color: #1cb0f6;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.score {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.label {
    display: inline-block;
    margin-right: 1rem;
}

.counter {
    background-color: #1cb0f6;
    border-radius: 5px;
    border: 4px #1899d6 solid;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 0 8px;
}

.grid {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 5px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card {
    position: relative;
    transition: all 0.4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.front {
    background: url("../img/box.png") no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.card,
.back,
.front {
    height: 120px;
    width: 120px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: transparent !important;
}

.box-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blue {
    background-color: #1cb0f6;
    border-color: #1899d6;
    color: #ffffff;
}

.btn {
    padding: 8px 15px;
    border-width: 0 0 5px;
    border-radius: 15px;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 2rem 1rem 0 1rem;
}

.btn:active {
    border-width: 0;
    margin-bottom: 4px;
    transform: translate3d(0, 4px, 0);
}

.sidebar {
    width: 300px;
    height: 300px;
    background-color: #f09a9d;
    border-radius: 15px;
    border: 4px rgb(243, 116, 120) solid;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2rem;
}

.sidebar-right {
    float: right;
}

.sidebar-left {
    float: left;
}

.disabled-card {
    opacity: 0.4;
}

.icon {
    height: 50px;
    width: 50px;
    margin: 1rem;
    float: left;
}

.counter {
    font-size: 2em;
    font-family: Digital;
}